.content{
  width: 115px;
  height: 45px;
  background-color: #27ae60;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.content .increase{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.content  .count{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  background-color: #27ae60;
  padding: 0px 4px;
  outline: none;
  color: white;
}